
<script src="https://code.highcharts.com/highcharts.js"></script>
<button id="btnReportMonthly" class="btn btn-info">Relatório Mensal</button>
<button id="btnReportWeekly" class="btn btn-warning">Relatório Semanal</button>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script>
        $(document).ready(function () {
            $("#btnReportWeekly").click(function () {       
            var titleMessage = "Gastos desta semana: ";
                $.ajax({
                    type: "GET",
                    url: "/Expense/GetExpensePierPeriodWeekly",
                    contentType: "application/json",
                    dataType: "json",
                   
                    success: function (result) {
                        var keys = Object.keys(result);
                        var dateWeekly = new Array();
                        var totalSpend = 0.0;
                        for (var i = 0; i < keys.length; i++) {
                            var arrL = new Array();
                            arrL.push(keys[i]);
                            arrL.push(result[keys[i]]);
                            totalSpend += result[keys[i]];
                            dateWeekly.push(arrL);
                        }
                    createCharts(dateWeekly, titleMessage, totalSpend.toFixed(2));
                    }
                })
            })
            $("#btnReportMonthly").click(function () {
            var titleMessage = "Gastos deste mês: ";
                $.ajax({
                    type: "GET",
                    url: "/Expense/GetExpensePierPeriodMonthly",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        var keys = Object.keys(result);
                        var dateMonthly = new Array();
                        var totalSpend = 0.0;
                        for (var i = 0; i < keys.length; i++) {
                            var arrL = new Array();
                            arrL.push(keys[i]);
                            arrL.push(result[keys[i]]);
                            totalSpend += result[keys[i]];
                            dateMonthly .push(arrL);
                        }
                    createCharts(dateMonthly, titleMessage, totalSpend.toFixed(2));
                    }
                })
            })
        })
        function createCharts(sum, titleText, totalSpend) {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                text: titleText + '' + totalSpend
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Valor gasto'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Total expense: <b>{point.y:.2f} </b>'
                },
                series: [{
                    type: 'column',
                    data: sum,
                }]
            });
        }
</script>